body {
    color: white;
}
.navbar {
    background-color: #03a9f4;
    -webkit-box-shadow: 0 5px 5px #888888;
    -moz-box-shadow: 0 5px 5px #888888;
    box-shadow: 0 5px 5px #888888;
}

.navbarBottom {
    -webkit-box-shadow: 0px 0px 20px #888888;
    -moz-box-shadow: 0px 0px 20px #888888;
    box-shadow: 0px 0px 20px #888888;
}

.jumbotron {
	background-color: transparent;
	height: 100%;
	width: 100%;
	text-align: center;

}

.card {
    color: black;
}
.col {
    padding-bottom: 50px;
}

<<<<<<< HEAD
.card-img-top:hover {
    box-shadow: 10px 10px 8px #888888;
}
=======
#fork-in {
    color: white;
    padding-top: 14%;
    height: 100%;
    margin-top: 18%;
    text-align: center;
    background-color: #03a9f4;
}

#fork-out {
    color: white;
    padding-top: 14%;
    height: 100%;
    margin-top: 18%;
    text-align: center;
    background-color: #f44e03;
}

#index-nav {
    background-color: #f4c703;
}


>>>>>>> b7ea52d2add6c7c1d0946738a441970f755f34ed
